<header class="site-header" role="banner">
  <div class="header">

    <a class="site-title" href="{{ "/" | relative_url}}">
    <div class="logo">
    <svg viewBox="0 0 100 90" width="90px" height="70px" class="logoimg">
<pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4" fill="#f6f6f6">
 <rect width='4' height='4' fill='#f6f6f6'/>
 <path d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2" style="stroke:#c0c0c0; stroke-width:0.5;"/>
</pattern>
<path d="M6 16 L25 16 L25 37 Z" fill="#c0c0c0"/>
<path d="M26 16 L26 45 L40 30 Z" fill="#e0e0e0"/>
<path d="M27 45 L61 8 L61 78 Z" fill="url(#diagonalHatch)" />
<path d="M62 8 L92 8 L62 38 Z" fill="#e0e0e0"/>
<path d="M82 19 L92 19 L62 50 L62 39 Z" fill="#c0c0c0"/>
<path d="M62 51 L62 78 L75 65 Z" fill="#e0e0e0"/>
<path d="M62 79 L75 92 L75 66 Z" fill="#c0c0c0"/> 
   </svg>
   <div class="logotxt">
   <h1>Wirebus</h1>
   <h2>Smart Home Automation</h2>
   </div> 
  </div>
    </a>

    <nav class="site-nav">
      <span class="menu-icon">
        <svg viewBox="0 0 18 15" width="18px" height="15px">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </span>

      <div class="trigger">
        <a class="page-link" href="{{ "/" | relative_url }}">Home</a>
	<a class="page-link" href="{{ "/blog/" | relative_url }}">Blog</a>
	<a class="page-link" href="{{ "/resellers/" | relative_url }}">Where to buy</a>
      </div>
    </nav>

  </div>

</header>
{% if page.layout == 'home' %}
{% include banner.html %}
{% endif %}
