.post-tag {
    display: inline-block;
    background: rgba(106,159,181,0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

.post .post-more {
    margin-top: .5em;
    text-align: right;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #c0c0c0;
}

th{
    background-color:#c0c0c0;
}

td{
    border:1px solid #c0c0c0;
}

.logo{
   float:left;
   width: 300px;
   display: flex;
}

.logo .logoimg, .logo .logotxt
{
	flex-direction: column;	
        line-height: 34px;
}

.logo h1 .logo h2{
    position:relative;
    display: inline;
}


.logo h1{
  color:white;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.32);
  font-size: 38px;
  margin:0px;
}


.logo h2{
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
    color: #999; 
}


.site-header{
    position: fixed;
    background-color: white;
    width: 100%;
}

.banner{
    background-color: #263238;
    background-image: url(topbj.jpg);
    background-position-y: center;
    background-size: cover;
    padding: 0;
    width: 100%;
    min-height: 500px;
    padding-top: 91px;
}

.banner-grid-fixed{
	margin: 0 auto;
	box-sizing: border-box;
	max-width: 1200px;
	display: flex;
}

.bannertext{
	color:white;
	padding:10px;
	width: 60%;
	flex-direction: column;
	box-sizing: border-box;
}

.banner h2{
    color: #fff;
    font-family: Lora,Helvetica,Arial,sans-serif;
    font-size: 87px;
    font-weight: 700;
    line-height: 87px;
    margin: 0 0 30px;
}

.blogitems{
    background-color: #263238;
    padding: 50px;
    width: 40%;	
    min-height: 500px;
    flex-direction: column;
    color: #fff;
}

.blogitems h3{
    color: #fff;
    font-family: Lora,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 700;	
}

@media screen and (max-width: 600px){
.hideonmobile{
   display:none !important;
}

.site-nav .trigger {
    clear: both;
    display: none;
}


}

@media screen and (min-width: 600px){
.site-nav{
   padding: 0px 20px;
   margin-right: 120px;
}

.infobox{
	display: flex;
}

}
