.post-tag {
    display: inline-block;
    background: rgba(106,159,181,0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #6a9fb5;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.post-tag:before {
    content: "\f02b";
    font-family: FontAwesome;
    padding-right: .5em;
}

.post .post-more {
    margin-top: .5em;
    text-align: right;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #c0c0c0;
}

th{
    background-color:#c0c0c0;
}

td{
    border:1px solid #c0c0c0;
}


