---
layout: default
---

<div class="home">
<center>

<h1>Simple and cheap but powerful IoT solution</h1>

<section class="iconsblock">
<div class="infobox">

<div class="boxrow">
<i class="fa fa-steam bigicon" aria-hidden="true"></i>
<h2>Robust and flexible</h2>
The base of framework is higest security and great fault tolerance.  
</div>

<div class="boxrow">
<i class="fa fa-line-chart bigicon" aria-hidden="true"></i>
<h2>Greate user experience</h2>
Graphs, voice command mode
</div>


<div class="boxrow">
<i class="fa fa-mixcloud bigicon" aria-hidden="true"></i>
<h2>Cloud enabled</h2>
Easy to setup cloud invironment
<a href="#">Learn more...</a>
</div>
</div>

</section>

</center>

<section class="grayblock">
asdfasdfasdfasdf
</section>

<section>

Improve your results with our IoT services

1.Realtime monitoring 
Increase ROI by over 100%

2.IoT Advisory


</section>


  <h1 class="page-heading">Featured topics</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
	{% if post.featured  %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
	{{ post.excerpt }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
